.form-component {
    width: 1000px;
    margin: 0 auto;
}

.form-component h1{
    color: #606060;
}

.form-component  button{
    background-color: pink;
    padding: 10px 20px;
    border-radius: 15px;
	color: inherit;
	font: inherit;
    border: none;
	cursor: pointer;
	outline: inherit;
    opacity: 0.8;
    font-size: 20px;
}

.form-component button:hover{
    opacity: 1;
    transition: 0.5s;
}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.column input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #606060;
    margin: 8px;
    width: 100%;
}

@media (max-width: 1020px) {
    .form {
        flex-direction: column;
    }
    
    .column {
        margin: 0 auto;
        width: 50%;
    }

    .form-component {
        width: 100%;
        margin: 20px;
        margin-top: 50px;
    }

    .subscribe-form button{
        margin-top: 30px;
    }
    
}