.about-component {
  width: 1000px;
  margin: 0 auto;
}

.about-component h1{
  color: #606060;
}

@media (max-width: 1020px) {

  .about-component {
      width: 100%;
      margin: 20px;
      margin-top: 50px;
  }
}